
 
  
  
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5" *ngIf="isSetUsername">
              <h2 class="text-uppercase text-center mb-5">Set User Name</h2>

              <div class="alert alert-danger" role="alert" *ngIf="error != '' ">{{error}}</div>
              <div class="alert alert-primary" role="alert" *ngIf="message != '' ">{{message}}</div>
              <form>

                <div class="form-group">
                  <label for="displayName">User Name*</label>
                  <input type="text" required class="form-control" name="userName" placeholder="Display Name" value="{{ userData.username }}" (change)="updateFormData($event)">
                </div>

                <div class="d-flex justify-content-center mt-2">

                  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="isLoading">
                    <span class="visually-hidden">Loading...</span>
                  </div>

                  <button type="button" *ngIf="!isLoading" class="btn btn-primary" (click)="setUserNameHandler()">
                    Submit
                  </button>
                </div> 

              </form>

            </div>


            <div class="card-body p-5" *ngIf="!isSetUsername">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <div class="text-center text-muted mb-3"  >Welcome to the AppKey demo! Sign up with your email to create your passkey and log in effortlessly. Discover how simple and secure passwordless login can be—no passwords, just your passkey.</div>


              <div class="alert alert-danger" role="alert" *ngIf="error != '' ">{{error}}</div>
              <div class="alert alert-primary" role="alert" *ngIf="message != '' ">{{message}}</div>

              <form>

                <div class="form-group">
                  <label for="displayName">Display Name*</label>
                  <input type="text" required class="form-control" name="displayName" placeholder="Display Name" value="{{ userData.displayName }}" (change)="updateFormData($event)">
                </div>

                <div class="form-group mt-4">
                  <label for="exampleInputEmail1">User Handle*</label>
                  <input type="email" required class="form-control" name="handle" aria-describedby="emailHelp" placeholder="Enter Handle" value="{{ userData.handle }}" (change)="updateFormData($event)">
                  <small id="emailHelp" class="form-text text-muted">We'll send a verify code to your handle.</small>
                </div>

               

                <div class="form-group mt-4" *ngIf="locales.length > 1">
                  <label for="locale">Set Locale</label> 
                  <select class="form-control" name="locale"  value="{{ userData.locale }}"  (change)="updateFormData($event)" > 
                    <option value={{item.code}} *ngFor="let item of locales" >{{item.name}}</option>
                  </select>
              </div>


                <div class="form-group mt-4" *ngIf="isConfirmSignup"> 
                  <label for="code">Signup Code</label>
                  <input type="number" class="form-control" name="code"  placeholder="Enter code" value="{{ userData.code }}" (change)="updateFormData($event)">
                   
                </div> 

                
                <div class="d-flex justify-content-center mt-2" *ngIf="isConfirmSignup">

                  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="isLoading">
                    <span class="visually-hidden">Loading...</span>
                  </div>

                  <button type="button" *ngIf="!isLoading" class="btn btn-primary mt-2" (click)="verifySignup()">
                    Submit
                  </button>
                </div> 
                

                <div class="d-flex justify-content-center" *ngIf="!isConfirmSignup">

                  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="isLoading">
                    <span class="visually-hidden">Loading...</span>
                  </div>

                  <button type="button"  *ngIf="!isLoading" class="btn btn-primary" (click)="signupStart()">
                    Sign Up
                  </button>
                </div>
                
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 

